@page
@model Security.Pages.HumanResourceModel
@{
    ViewData["Title"] = "HumanResource";
}

<h1>HumanResource</h1>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
