@page
@model Security.Pages.SettingsModel
@{
    ViewData["Title"] = "Settings";
}

<h1>Settings</h1>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
